name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Run tests for each microservice
        run: |
          SERVICES=("create-service" "read-service" "update-service" "delete-service")
          for svc in "${SERVICES[@]}"; do
            echo "===> Testing $svc"
            cd $svc
            go test -v ./... -cover || exit 1
            cd ..
          done


      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
