name: CI - Go Microservices CRUD

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

env:
  REGISTRY: ghcr.io
  DOCKERHUB_USER: danysoftdev
  SERVICES: create read update delete

jobs:
  test-build-push:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Run Unit Tests
        run: go test -v ./... -tags='!integration' -cover -coverprofile=coverage.out

      - name: Run Integration Tests
        run: go test -v ./... -tags=integration

      - name: Create .env file
        run: |
          echo "MONGO_ROOT_USER=${{ secrets.MONGO_ROOT_USER }}" > .env
          echo "MONGO_ROOT_PASS=${{ secrets.MONGO_ROOT_PASS }}" >> .env
          echo "MONGO_DB=${{ secrets.MONGO_DB }}" >> .env
          echo "MONGO_HOST=${{ secrets.MONGO_HOST }}" >> .env
          echo "MONGO_PORT=${{ secrets.MONGO_PORT }}" >> .env
          echo "MONGO_URI=${{ secrets.MONGO_URI }}" >> .env
          echo "COLLECTION_NAME=${{ secrets.COLLECTION_NAME }}" >> .env
          echo "DOCKERHUB_USER=${{ secrets.DOCKERHUB_USER }}" >> .env
      

      - name: Run Docker Compose Integration Test
        run: |
          docker compose --env-file .env --profile test up --abort-on-container-exit
          docker compose down

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build images for all services
        run: |
          docker build -f Dockerfile -t $DOCKERHUB_USER/p-go-create:latest .
          docker build -f Dockerfile.read -t $DOCKERHUB_USER/p-go-read:latest .
          docker build -f Dockerfile.update -t $DOCKERHUB_USER/p-go-update:latest .
          docker build -f Dockerfile.delete -t $DOCKERHUB_USER/p-go-delete:latest .
        
        

      - name: "Scan image with Trivy (create)"
        uses: aquasecurity/trivy-action@0.28.0
        with:
            image-ref: ${{ env.DOCKERHUB_USER }}/p-go-create:latest
            format: table
            severity: CRITICAL,HIGH
            exit-code: 1
        

      - name: Push images to DockerHub
        run: |
          docker push $DOCKERHUB_USER/p-go-create:latest
          docker push $DOCKERHUB_USER/p-go-read:latest
          docker push $DOCKERHUB_USER/p-go-update:latest
          docker push $DOCKERHUB_USER/p-go-delete:latest
          

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
