name: CI Pipeline

on:
  push:
    branches: [ main ]
    tags: [ 'v*.*.*' ]
  pull_request:

jobs:

  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Run tests for each microservice
        run: |
          for d in create read update delete; do
            echo "===> Testing $d"
            cd $d
            go test ./... -coverprofile=coverage.out
            cd ..
          done

  build:
    name: Build Images
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Images
        run: |
          SERVICES="create read update delete"
          for SVC in $SERVICES; do
            IMAGE_DH="${{ secrets.DOCKER_USER }}/$SVC:latest"
            IMAGE_GHCR="ghcr.io/${{ github.repository_owner }}/$SVC:latest"

            echo "===> Building $SVC"
            docker build -t $IMAGE_DH -t $IMAGE_GHCR ./$SVC
            docker push $IMAGE_DH
            docker push $IMAGE_GHCR
          done

  security:
    name: Trivy Security Scan
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Trivy
        uses: aquasecurity/trivy-action@0.22.0
        with:
          scan-type: fs
          exit-code: 0
          ignore-unfixed: true

  release:
    name: Auto Release
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v4

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          files: |
            **/coverage.out

